$light: (
  bg: $color-white,
  bgInvert: $color-dark,
  title: $color-dark,
  titleInvert: $color-white,
  subtitle: #{$color-black + '80'},
  subtitleInvert: #{$color-white + '80'},
  border: #{$color-white + '33'},
  fieldBg: #{$color-dark + '0F'},
  fieldBgInvert: $color-black,
  inputBg: $color-silver,
  pic: $color-silver,
);

$dark: (
  bg: $color-dark,
  bgInvert: $color-white,
  title: $color-white,
  titleInvert: $color-dark,
  subtitle: #{$color-white + '80'},
  subtitleInvert: #{$color-black + '80'},
  border: #{$color-black + '33'},
  fieldBg: #{$color-white + '0F'},
  fieldBgInvert: $color-white,
  inputBg: #{$color-white + '40'},
  pic: #{$color-white + '40'},
);

.dark-theme {
  @each $name, $color in $dark {
    --color-#{""+$name}: #{$color};
  }
}

.light-theme {
  @each $name, $color in $light {
    --color-#{""+$name}: #{$color};
  }
}

@function color($getColor) {
  @return var(--color-#{$getColor});
}
