@import '@styles/main';

.header {
  @include container;
  height: 6.25rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(auto, 300px) 1fr 40px;
  column-gap: 2.125rem;
  background: color(headerBg);
  color: color(headerLinks);
  align-items: center;
}

.menu__desctop {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 2.125rem;

  .menu__item {
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
      transition: $animate;
      color: $color-orange;
    }
  }
}

.theme {
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    transition: $animate;
    color: color(headerBg);
    background: color(headerLinks);
  }
}
