@import '@styles/main';

header {
  position: relative;
  background: color(bgInvert);
  z-index: $i-header;
}

.field {
  @include container(margin);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(auto, 300px) 1fr 40px;
  grid-template-areas: 'logo navigation theme cart';
  column-gap: 2.125rem;
  height: 6.25rem;
  color: color(titleInvert);
  align-items: center;
  border-bottom: 1px solid color(border);

  @include media(md, mx) {
    grid-template-areas: 'navigation logo theme cart';
    grid-template-columns: 40px minmax(auto, 1fr) 40px 40px;
    column-gap: 0.5rem;
  }
}

.logo {
  grid-area: logo;
}

.desctop,
.mobile {
  grid-area: navigation;
}

.theme {
  grid-area: theme;
}

.cart {
  grid-area: cart;
}

/* Button */

.toggle,
.theme,
.cart {
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    transition: $animate;
    color: color(bgInvert);
    background: color(titleInvert);
  }
}

/* Navigation */

.mobile {
  display: none;

  @include media(md, mx) {
    display: block;
  }
}

.desktop {
  @include media(md, mx) {
    display: none;
  }
}
