@import '@styles/main';

.overlay {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #{$color-black + '66'};
}

.modal {
  @include container(padding);
  position: relative;
}
