@import '@styles/main';

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: #{$color-black + '66'};
  z-index: $i-modal;
}

.modal {
  @include container(padding);
  position: relative;
}
