@import '@styles/main';

.item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;

  .content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2rem;
  }
}

.button {
  @include btn-black;
}

.pattern {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: $i-zero;
}

.field {
  z-index: $i-content;
}

.item:nth-child(1),
.item:nth-child(2) {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
}

.item:nth-child(1) {
  background: $color-orange;
  align-items: center;
  padding: 0 5.9375rem;

  .pattern {
    transform: translate(-72.5%, -35%);
  }

  .img {
    position: relative;
    height: 100%;
    img {
      position: absolute;
      width: 100%;
      bottom: -5%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .title {
    color: $color-white;
  }

  .desc {
    color: #{$color-white + 'BF'};
  }
}

.item:nth-child(2) {
  align-items: center;
  padding: 0 6rem;

  .img {
    position: absolute;
    height: 100%;
  }
}

.item:nth-child(3) {
  .field {
    display: grid;
    align-items: center;
    border-radius: $border-radius;
    background: color(fieldBg);
    padding: 0 2.5rem;
  }

  .img {
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    height: 100%;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/* Media */
@include media(lg, mx) {
  .item:nth-child(1) {
    padding: 4rem 0;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: 15rem 1fr;
    row-gap: 1.5rem;

    .pattern {
      transform: translate(-50%, -65%);
    }

    .img {
      img {
        bottom: 0;
        width: auto;
        height: 100%;
      }
    }

    .content {
      text-align: center;
    }

    .button {
      margin: 0 auto;
    }
  }
}

@include media(md, mx) {
  .item:nth-child(1) {
    .pattern {
      transform: translate(-50%, -70%);
    }
  }

  .item:nth-child(3) {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 20rem);
    row-gap: 1.5rem;

    .img {
      img {
        height: auto;
        width: 100%;
      }
    }

    .field {
      padding: 0 1.5rem;
    }
  }
}

@include media(sm, mx) {
  .item:nth-child(1) {
    padding: 3.5rem 1rem;
    grid-template-rows: 13.125rem 1fr;

    .pattern {
      transform: translate(-50%, -70%);
    }

    .img {
      position: relative;
      height: 100%;
      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 100%;
      }
    }

    .title {
      font-size: 2.25rem;
    }
  }

  .item:nth-child(2) {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    padding: 0 2rem;

    .img {
      height: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .item:nth-child(3) {
    .img {
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

@include mediaWidth(25rem, mx) {
  .item:nth-child(2) {
    .img {
      img {
        width: auto;
        height: 100%;
      }
    }
  }
}
