@import '@styles/main';

.mobile {
  grid-area: navigation;
  height: 100%;
}

.icon {
  @include navbar-icon;
}

.dropdown {
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  z-index: $i-modal;
  background: color(bg);
  padding-bottom: 2.5rem;
}

.mobile {
  display: none;

  @include media(md, mx) {
    display: block;
  }
}
