@import '@styles/main';

.content {
  @include container(padding);
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'info';
  background: #191919;
  height: 625px;
  align-items: center;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  z-index: $i-zero;
}

.info {
  grid-area: info;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  row-gap: 1.5rem;
  z-index: $i-content;
}

.subtitle {
  @include body-overline;
  color: #{$color-white + '80'};
  text-transform: uppercase;
}

.title {
  color: $color-white;
  text-transform: uppercase;
}

.desc {
  color: #{$color-white + '80'};
}

.button {
  @include btn-basic;
}

/* MEDIA*/

@include media(lg, mx) {
  .content {
    grid-template-areas: 'info info';
  }
}

@include media(md, mx) {
  .title {
    font-size: 2.25rem;
  }

  .info {
    text-align: center;
  }

  .desc {
    max-width: 22.5rem;
    margin: 0 auto;
  }

  .button {
    margin: 0 auto;
  }
}

@include media(md, mx) {
  .content {
    height: 500px;
  }
}
