@import '@styles/main';

.area {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 3.5rem;
  row-gap: 0.5rem;
}

.label {
  @include body-subtitle;
  text-transform: capitalize;
  color: color(title);
}

.input {
  all: unset;
  --padding: 1.5rem;
  width: calc(100% - (var(--padding) * 2) - 2px);
  padding: 0 var(--padding);
  border-radius: $border-radius;
  color: color(title);
  border: 1px solid color(fieldBg);

  &::placeholder {
    opacity: 0.35;
  }

  &:placeholder-shown {
    color: color(title);
  }

  &:focus {
    outline: 2px solid $color-orange;
  }
}
