@import '@styles/main';

.field {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 3.5rem;
  row-gap: 0.5rem;
}

.label {
  @include body-subtitle;
  text-transform: capitalize;
  color: color(title);
}

.input {
  @include body-subtitle;
  all: unset;
  padding: 0 1.5rem;
  border: none;
  border-radius: $border-radius;
  color: color(title);
  border: 1px solid color(fieldBg);

  &::placeholder {
    opacity: 0.35;
  }

  &:placeholder-shown {
    color: color(title);
  }

  &:focus {
    outline: 2px solid $color-orange;
  }
}
