@import '@styles/main';

.products {
  @include container(padding);
  display: grid;
  grid-auto-flow: row;
  row-gap: 10rem;
}

.product {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 540px 1fr;
  grid-template-rows: 35rem;
  align-items: center;
  column-gap: 7.75rem;
}

.product:nth-child(odd) {
  grid-template-areas: 'image content';
}

.product:nth-child(even) {
  grid-template-columns: 1fr 540px;
  grid-template-areas: 'content image';
}

.field {
  grid-area: image;
  border-radius: $border-radius;
  background: color(fieldBg);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.img {
  position: relative;
  height: 100%;

  img {
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.content {
  grid-area: content;
  display: grid;
  grid-auto-flow: row;
  row-gap: 1.5rem;
}

.title {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1rem;
}

.name {
  text-transform: uppercase;
  color: color(title);
}

.subtitle {
  @include body-overline;
  text-transform: uppercase;
  color: $color-orange;
}

.desc {
  color: color(subtitle);
}

.btn {
  @include btn-basic;
}

/* MEDIA */
@include media(lg, mx) {
  .product {
    grid-template-rows: 22rem;
    row-gap: 1.5rem;

    &:nth-child(odd),
    &:nth-child(even) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'image image'
        'content content';
    }
  }

  .img {
    img {
      height: 100%;
    }
  }

  .content {
    text-align: center;
  }

  .btn {
    margin: 0 auto;
  }
}

@include media(md, mx) {
  .title {
    font-size: 28px;
  }
}
