@import '@styles/main';

.modal {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.title {
  text-transform: uppercase;
  color: color(title);
}

.subtitle {
  color: color(subtitle);
}

.close {
  @include btn-basic;
  width: auto;
}
