@import '@styles/main';

.page {
  display: grid;
  grid-auto-flow: row;
  margin-top: $margin-items;
  row-gap: $margin-items;
}

.back {
  @include container(padding);
}

.error {
  @include container(padding);
  text-align: center;
}

@include media(md, mx) {
  .page {
    row-gap: 5rem;
  }
}
