@import '@styles/main';

.cart {
  position: relative;
  height: 100%;
}

.icon {
  @include navbar-icon;
}

.label {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: $color-orange;
  color: $color-white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: #{$color-black + '66'};
  z-index: $i-modal;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 7rem;
  z-index: $i-modal;
}

.field {
  width: 23.75rem;
  padding: 1.875rem;
  background: color(bg);
  border-radius: 0.5rem;
}

.content {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(3, max-content) 48px;
  row-gap: 1.5rem;
}

.title {
  @include heading-xs;
  color: color(title);
}

.header {
  display: flex;
  justify-content: space-between;

  .remove {
    @include body-main;
    color: color(subtitle);

    &:hover {
      cursor: pointer;
      color: $color-orange;
      transition: $animate;
    }
  }
}

.list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1.5rem;
}

.item {
  display: grid;
  grid-template-columns: 64px 1fr 96px;
  grid-template-rows: repeat(2, 32px);
  align-items: center;
  gap: 0rem 1rem;
  grid-template-areas:
    'img name quantity'
    'img price quantity';
}

.img {
  grid-area: img;
  position: relative;
  height: 100%;
  width: 100%;
  background: color(fieldBg);
  border-radius: $border-radius;
  overflow: hidden;

  img {
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.name {
  grid-area: name;
  @include body-subtitle;
  font-size: 1rem;
  color: color(title);
  text-transform: uppercase;
}

.price {
  grid-area: price;
  @include body-subtitle;
  font-size: 0.875rem;
  color: color(subtitle);
}

.quantity {
  @include body-subtitle;
  grid-area: quantity;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 32px);
  height: 32px;
  background: color(inputBg);
  text-align: center;

  .number {
    display: grid;
    align-items: center;
    color: color(title);
  }

  .button {
    color: color(title);
    opacity: 0.25;

    &:hover {
      opacity: 1;
      transition: $animate;
      cursor: pointer;
    }
  }
}

.total {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  span {
    @include body-main;
    color: color(subtitle);
    text-transform: uppercase;
  }

  &__price {
    @include heading-xs;
    color: color(title);
  }
}

.checkout {
  @include btn-basic;
  width: auto;
}

/* MEDIA */

@include media(sm, mx) {
  .field {
    min-width: 220px;
    width: auto;
  }
  .item {
    grid-template-areas:
      'name name quantity'
      'price price quantity';
  }

  .img {
    display: none;
  }
}
