@import '@styles/main';

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 35rem repeat(2, 20rem);
  row-gap: 3rem;
}

/* MEDIA */
@include media(lg, mx) {
  .list {
    .list {
      grid-template-rows: max-content repeat(2, 20rem);
    }
  }
}

@include media(md, mx) {
  .list {
    grid-template-rows: max-content 20rem max-content;
  }
}

@include media(sm, mx) {
  .list {
    grid-template-rows: max-content 20rem max-content;
  }
}
