$light: (
  bg: $color-white,
  headerBg: $color-black,
  headerLinks: $color-white,
);

$dark: (
  bg: $color-dark,
  headerBg: $color-white,
  headerLinks: $color-dark,
);

.dark-theme {
  @each $name, $color in $dark {
    --color-#{""+$name}: #{$color};
  }
}

.light-theme {
  @each $name, $color in $light {
    --color-#{""+$name}: #{$color};
  }
}

@function color($getColor) {
  @return var(--color-#{$getColor});
}
