$light: (
  bg: $color-white,
  title: $color-dark,
  titleHover: $color-white,
  subtitle: #{$color-black + '80'},
  subtitleHover: #{$color-white + '80'},
  // HEADER
  headerBg: $color-dark,
  headerBorder: #{$color-white + '33'},
  headerLinks: $color-white,
  mobileMenuBg: $color-white,
  mobileMenuItemBg: #{$color-dark + '0F'},
  mobileMenuItemHoverBg: $color-black,
  //FOOTER
  footerBg: $color-dark,
  footerLinks: $color-white,
  //MODALS
  modalBg: $color-white,
  modalFieldBg: $color-silver,
);

$dark: (
  bg: $color-dark,
  title: $color-white,
  titleHover: $color-black,
  subtitle: #{$color-white + '80'},
  subtitleHover: #{$color-black + '80'},
  // HEADER
  headerBg: $color-white,
  headerBorder: #{$color-black + '33'},
  headerLinks: $color-dark,
  mobileMenuBg: $color-dark,
  mobileMenuItemBg: #{$color-white + '0F'},
  mobileMenuItemHoverBg: $color-white,
  //FOOTER
  footerBg: $color-white,
  footerLinks: $color-dark,
  //MODALS
  modalBg: $color-dark,
  modalFieldBg: #{$color-white + '40'},
);

.dark-theme {
  @each $name, $color in $dark {
    --color-#{""+$name}: #{$color};
  }
}

.light-theme {
  @each $name, $color in $light {
    --color-#{""+$name}: #{$color};
  }
}

@function color($getColor) {
  @return var(--color-#{$getColor});
}
