@import '@styles/main';

.info {
  @include container(padding);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 39.375rem 1fr;
  column-gap: 7.8125rem;
}

.title {
  text-transform: uppercase;
  color: color(title);
}

.desc {
  color: color(subtitle);
}

.features,
.includes {
  display: grid;
  row-gap: 2rem;
}

.list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.5rem;
}

.item {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.25rem;
  justify-content: start;
}

.accent {
  @include body-main;
  font-weight: 700;
}

.include {
  color: color(subtitle);
}

/* Media */
@include media(lg, mx) {
  .info {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .title {
    font-size: 32px;
  }

  .includes {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media(md, mx) {
  .title {
    font-size: 1.5rem;
  }

  .includes {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
